@page
@model OroClient.Pages.Tareas.DetailsModel
@{
}

<form method="post">
    <fieldset>
        <legend>New Task</legend>
        <div class="row" style="margin-top:25px;">
            <div class="col-4">
                <label class="form-label">Subject</label>
                <input type="text" asp-for="@Model.tarea.data.attributes.subject" class="form-control" placeholder="Subject">
            </div>
            <div class="col-4">
                <label class="form-label">Due date</label>
                <input type="date" asp-for="@Model.tarea.data.attributes.dueDate" class="form-control" placeholder="Due date">
            </div>
            <div class="col-4">
                <label class="form-label">Priority</label>
                @{
                    List<SelectListItem> listItems = new List<SelectListItem>();
                    listItems.Add(new SelectListItem
                    {
                        Text = "Normal",
                        Value = "normal"
                    });
                    listItems.Add(new SelectListItem
                    {
                        Text = "Baja",
                        Value = "low"
                    });
                    listItems.Add(new SelectListItem
                    {
                        Text = "Alta",
                        Value = "high"
                    });
                }

                @Html.DropDownListFor(model => model.tarea.data.relationships.taskPriority.data.id, listItems, new { @class = "form-control" })
            </div>
            <div class="col-12">
                <label class="form-label">Nombre</label>
                <textarea asp-for="@Model.tarea.data.attributes.description" class="form-control" placeholder="Description"></textarea>
            </div>
        </div>
        <hr />
    </fieldset>
    <button type="submit" class="btn btn-success">Save</button> <a class="btn btn-primary" href="/Tareas/">Back</a>
</form>