@page
@model OroClient.Pages.User.createModel
@{
}
<form method="post">
    <fieldset>
        <legend>Nuevo Usuario</legend>
        <div class="row" style="margin-top:25px;">
            <div class="col-2" disabled>
                <label class="form-label">Username</label>
                <input type="text" asp-for="@Model.usuario.attributes.username" class="form-control" placeholder="Username">
            </div>
            <div class="col-2">
                <label class="form-label">Nombre</label>
                <input type="text" asp-for="@Model.usuario.attributes.firstName" class="form-control" placeholder="Nombre">
            </div>
            <div class="col-2">
                <label class="form-label">Apellido</label>
                <input type="text" asp-for="@Model.usuario.attributes.lastName" class="form-control" placeholder="Apellido">
            </div>
            <div class="col-3">
                <label class="form-label">Correo</label>
                <input type="text" asp-for="@Model.usuario.attributes.email" class="form-control" placeholder="Correo">
            </div>
        </div>
        <hr />
    </fieldset>
    <a><button class="btn btn-success">Guardar</button></a> <a class="btn btn-primary" href="/User/">Atras</a>
</form>