@page
@model OroClient.Pages.User.IndexModel
@{

}
<form method="post">


    <div class="text-center">
        <a style="margin-left:5px" class="btn btn-lg btn-success" href="/User/create">New</a>
    </div>

    <table class="table table-striped">
        <thead>
            <tr class="table-info">
                <th scope="col">Usuario</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Correo</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.usuarios.data != null)
            {

                @foreach (Models.User.User item in Model.usuarios.data)
                {
                    <tr>
                        <th scope="row">@item.attributes.username</th>
                        <th scope="row">@item.attributes.firstName</th>
                        <th scope="row">@item.attributes.lastName</th>
                        <th scope="row">@item.attributes.email</th>
                        <th scope="row"><a href="/User/details?id=@item.id">Editar</a></th>
                    </tr>
                }
            }
        </tbody>
    </table>
</form>