@page
@model OroClient.Pages.Call.IndexModel
@{
}

<div class="text-center">
    <a style="margin-left:5px" class="btn btn-lg btn-success" href="/Call/create">New</a>
</div>

<table class="table table-striped">
    <thead>
        <tr class="table-info">
            <th scope="col">Subject</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Call Date & Time</th>
            <th scope="col">Duration</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Calls.data != null)
        {

            @foreach (Models.Calls.Call item in Model.Calls.data)
            {
                <tr>
                    <th scope="row">@item.attributes.subject</th>
                    <th scope="row">@item.attributes.phoneNumber</th>
                    <th scope="row">@System.Convert.ToDateTime(item.attributes.callDateTime).ToString("f")</th>
                    <th scope="row">@TimeSpan.FromSeconds(double.Parse(item.attributes.duration))</th>
                </tr>
            }
        }
    </tbody>
</table>
