@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos</h1>
    <p>
        El sistema al que nos integramos es <a href="https://oroinc.com/orocrm/">OroCRM</a>. El repositorio de nuestro proyecto se encuentra en esta direccion:
        <a href="https://github.com/fidelernest/OroCRMIntegration">https://github.com/fidelernest/OroCRMIntegration</a>.
    </p>

    <img class="img-fluid" src="~/img/orocrm.jpg" />
</div>
